body{
    margin:0;
    width: 100%;
    background-position: center;
    height: 100vh;
    background-image: url("../images/myActivities.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
body > h1{

    margin-left: 110px;
    font-family: 'Rubik';
    color: white;
}
 #full-screen > img:first-child{

    position: absolute;
    top: 200px;
    left: 75px;
 }
 #full-screen > img + img{

    position: absolute;
    top: 75px;
    left: 600px;
 }
 #full-screen > img + img + img{

    position: absolute;
    top: 400px;
    left: 400px;
 }
 #full-screen > img+ img + img + img{

    position: absolute;
    top: 300px;
    left: 1000px;
 }
 #full-screen > img+ img + img + img + img{

    position: absolute;
    top: 0.5px;
    left: 0.5px;
 }
 #full-screen > img:last-child{

    position: absolute;
    top: 650px;
    left: 0.5px;
 }
 #boxes > div:first-child{

    position: absolute;
    border: 1px solid rgb(31, 30, 30); 
    background-color: lightgray;
    width: 300px;
    height: 50px;
    top: 150px;
    left: 75px;
    
 }
 #boxes > div + div{

    position: absolute;
    border: 1px solid rgb(31, 30, 30); 
    background-color: lightgray;
    width: 300px;
    height: 50px;
    top: 25px;
    left: 600px;
    
 }
 #boxes > div + div + div{

    position: absolute;
    border: 1px solid rgb(31, 30, 30); 
    background-color: lightgray;
    width: 300px;
    height: 50px;
    top: 350px;
    left: 400px;
 }
 #boxes > div:last-child{

    position: absolute;
    border: 1px solid rgb(31, 30, 30); 
    background-color: lightgray;
    width: 300px;
    height: 50px;
    top: 250px;
    left: 1000px;
 }
 #boxes > div > h4{
    
    margin: 15px;
    text-align:center;
    font-family: 'Rubik';
 }

